* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "poppins";
    scroll-behavior: smooth;
    list-style: none;
}

@font-face {
    font-family: futur; src:url(futura\ medium\ bt.ttf);
}

body {

    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

/* header */

.header1{
    padding-top: 50px;
    height:20px;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.header1 .container{
    width: 100%;
    height:100%;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.header1 .container ul{
display: flex;
width: 90%;
color: white;
justify-content: center;
flex-direction: row;
background-color: transparent;
position: relative;

z-index: 99;
gap: 10%;
/* margin-left: 80px; */
}

.header1 .container ul a{
   font-size: 2.5em;
    /* gap: 10px; */
   color: white;

    }

    .header1 .container ul a:visited{
        color: inherit;
     
         }

         .header1 .container ul .li1{
            position: relative;
          }
 
.header1 .container ul .li1:hover{
    color: #E1752E;
    
 }

.header1 .container ul .li2:hover{
    color: #E1752E;
 }
 .header1 .container ul .li3:hover{
    color: #E1752E;
 }
 .header1 .container ul .li4:hover{
    color: #E1752E;
 }
 
/* section1 */
.sec1 {
    background-color: #060606;
    width: 100%;
    height: 950px;
    z-index: 1;
    position: relative;
    filter: drop-shadow(1px 2px 4px #060606);
}


.sec1 .container{
    display: flex;
    align-items: center;
    width: 100%;
   margin: 0 auto;
   height: 100%;

}

.sec1 .right{
    width: 45%;
    z-index: 6;
    transition: 0.4s;
}

.sec1 .right img{
    width: 42%;
   
    opacity: 60%;
    position: absolute;
    left: 0px;
    bottom: 0;
}



.sec1 .left h1{
    font-size: 8em;
    color: white;
    filter: drop-shadow(1px 1px 5px white);
    transition: 0.3s;
}
@media (max-width: 1200px){
.sec1 .left:hover h1{
 color: rgb(214, 213, 213);
}
}

.sec1 .left .separateur {
    width: 150px;
    height: 5px;
    background-color: #E1752E;
    margin:30px 0;
    }

.sec1 .left p {
        font-size: 2em;
        color: white;
       font-weight: bold;
       filter: drop-shadow(0 0 1px white);
       position: relative;
       transition: 0.3;
       display: flex;
       align-items: center;
        }

        .sec1 .left p i {
            margin-left: 20px;
            color: #E1752E;
            }

        .sec1 .left p::before {
            content: "(montage vidéo, web design, mixage sonore, montage photo)";
            font-size: 0.7em;
            position: absolute;
            color: rgb(255, 255, 255);
           filter: none;
           top: 60px;
           left:0;
            transform: translatex(100%);
            transform: 0.3s;
            scale: 0;
            } 



    .sec1 .left:hover p::before {
        transform: translate(0%);
        transition: 0.5s;
        filter: none;
        scale: 1;

    }

    .sec1 .left p:hover {
        overflow: visible;

    }
               
    
.lan {
            width: 15%;
            position: absolute;
            top: 0;
            right: 30px;
            z-index: 5;
            transition: 1s;
        }

.lan img {
            width: 100%;
            
            filter: drop-shadow(1px 2px 4px #060607);
        }




@media (max-width: 1400px)
{
    .lan{
        transition: 1s;
        transform: translateY(-100%);
    }

}



@media (max-width: 1200px){

    .sec1 .right img{
        width: 100%;
        z-index: -1;
        opacity: 30%;
    }
    .sec1 .container{
        flex-direction: column;
        justify-content: center;
        display: flex;
        align-items:center;
       
    }


    .sec1 .left  {
        width: 100%;
       align-self: center;
       margin: 0 auto;
       z-index: 99;
       position: relative;

    }
    .header1 .container ul{

        margin: 0 auto;
        }

}


@media (max-width: 1010px){
    .header1 .container ul{

        font-size: 0.7em;
        }
}

@media (max-width: 780px){
    .header1 .container ul{

        font-size: 0.6em;
        }
        .sec1 .left p {
            font-size: 1.5em;
          
            }
            .sec1 .left h1{
                font-size: 6em;
              
                }

}
@media (max-width: 710px){
    .header1 .container ul{

        font-size: 0.5em;
        }
}
@media (max-width: 565px){
    .header1 .container ul{

        font-size: 0.4em;
        }
}

/* separateur image */

.separateurimage{
    width: 100%;
    height: 2px;
    opacity: 100%;
    position: relative;
    z-index: 189;
    background-color: white;
   filter: drop-shadow(2px 2px 5px white);
}




/* sec2 */

.sec2 {
    width: 100%;
    padding-bottom: 10%;
    padding-top: 50px;
    height: 100%;
    background-color: #060608;
    position: relative;
    filter: drop-shadow(3px 2px 2px white);
    z-index: 3px;
   
    
}




.sec2 .container{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    z-index: 20;
    position: relative;
}

.sec2 .container .title{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sec2 .container .title h1{
    font-size: 4.7em;
    color: white;
    text-transform: uppercase;
    font-family: futur;
    filter: drop-shadow(1px 1px 3px white );
}

.sec2 .container .title h1:hover{
    font-size: 5.5em;
    transition: 0.4s;
}

.sec2 .container .title .separateur{
    width: 300px;
    height: 4px;

    margin-top: 40px;
    border-radius: 50px;
    /* opacity: 40%; */
    background-image: url(dawan.png);
    background-repeat: no-repeat;
    background-size: cover;
}
@keyframes changement-couleur {
    0%{background-color:yellow; top: 0px; left: 40px; bottom: 388px;}
    25%{background-color: red; top:0px; left: 0px;}
    50% {background-color:  blue; top: 0px; left: 0px;}
    75% {background-color: greenyellow; top: 0px; left: 0px;}
    100% {background-color:white; top: 0px; left: 0px;}
}


.sec2 .h1{

    font-size: 3em;
    margin: 60px 1150px 50px 0;
    font-family: futur;
    color: white;
    

}

@media (max-width: 1450px){
    .sec2 .h1 {
        font-size:2.7em ;
        margin-right: 1000px;
    }
}

.sec2 .h1:hover{

   font-size: 3.1em;
   transition: 0.2s;
}

.sec2 .container .contentrec{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 300px;
    max-width: 1500px;
   margin: 0px 40px 0 40px;
}


.sec2 .container .contentrec .rec1{
    border-top-left-radius: 80px ;
    border-bottom-left-radius: 80px ;
    margin-left: 20px;

}
.sec2 .container .contentrec .rec5{
  
    border-top-right-radius: 80px ;
    border-bottom-right-radius: 80px ;
    margin-right: 20px;
}
.sec2 .container .contentrec .rec1, .rec2, .rec3, .rec4, .rec5{
    width: 300px;
    height:220px;
    background-color: rgba(233, 233, 233, 0.877);
    border: 3px solid black;
     text-align: center;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(2px 2px 3px white);
} 

/*  MONTAGE VIDEO*/

.sec2 .container .contentrec .rec1 h1{
    font-size: 30px;
    margin-top: 10px;
    color: #060607;
    filter: drop-shadow(0 0 0.5px #31489f);
} 


.sec2 .container .contentrec .rec1 .final-cut-pro{
    color: #060607;
    display: flex;
    flex-direction: row;
    margin-top: 17px;
    margin-left: 40px;
    width: 100%;

} 

.sec2 .container .contentrec .rec1 .final-cut-pro h2{
    position: relative;
} 
.sec2 .container .contentrec .rec1 .final-cut-pro img{
  margin-right: 20px;

} 
.sec2 .container .contentrec .rec1 .final-cut-pro h2::before {
    color: #31489f;
    content: "Bonne maitrise";
    position: absolute;
    left: 1px;
    bottom: -12px;
    font-size:15px ;
}



.sec2 .container .contentrec .rec1 .luma-fusion{
    color: #060607;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 40px;
    width: 100%;

} 

.sec2 .container .contentrec .rec1 .luma-fusion h2{
    position: relative;
} 
.sec2 .container .contentrec .rec1 .luma-fusion img{
  margin-right: 20px;

} 
.sec2 .container .contentrec .rec1 .luma-fusion h2::before {
    color: #31489f;
    content: "Excellente maitrise";
    position: absolute;
    left: 1px;
    bottom: -12px;
    font-size:15px ;
}



.sec2 .container .contentrec .rec1 .cap-cut{
    color: #060607;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 40px;
    width: 100%;
    position: relative;
} 


.sec2 .container .contentrec .rec1 .cap-cut img{
  margin-right: 20px;

} 
.sec2 .container .contentrec .rec1 .cap-cut h2::before {
    color: #31489f;
    content: "Excellente maitrise";
    position: absolute;
    left: 53px;
    bottom: -12px;
    font-size:15px ;

}



/* Gestion de projet */

.sec2 .container .contentrec .rec2 h1{
    font-size: 30px;
    margin-top: 10px;
    color: #060607;
    filter: drop-shadow(0 0 0.5px #31489f);
} 


.sec2 .container .contentrec .rec2 .notion{
    color: #060607;
    display: flex;
    flex-direction: row;
    margin-top: 17px;
    margin-left: 40px;
    width: 100%;
    position: relative;
} 

.sec2 .container .contentrec .rec2 .notion img{
  margin-right: 20px;

} 
.sec2 .container .contentrec .rec2 .notion h2::before {
    color: #31489f;
    content: "Excellente maitrise";
    position: absolute;
    left: 51px;
    bottom: -12px;
    font-size:15px ;
}



.sec2 .container .contentrec .rec2 .trello{
    color: #060607;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 40px;
    width: 100%;
    position: relative;

} 

.sec2 .container .contentrec .rec2 .trello img{
  margin-right: 20px;

} 
.sec2 .container .contentrec .rec2 .trello h2::before {
    color: #31489f;
    content: "Bonne maitrise";
    position: absolute;
    left: 51px;
    bottom: -12px;
    font-size:15px ;
}

.sec2 .container .contentrec .rec2 .slack{
    color: #060607;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 40px;
    width: 100%;
    position: relative;
} 


.sec2 .container .contentrec .rec2 .slack img{
  margin-right: 20px;

} 
.sec2 .container .contentrec .rec2 .slack h2::before {
    color: #31489f;
    content: "Bonne maitrise";
    position: absolute;
    left: 50px;
    bottom: -12px;
    font-size:15px ;

}

/* Mixage audio */

.sec2 .container .contentrec .rec3 h1{
    font-size: 30px;
    margin-top: 10px;
    color: #060607;
    filter: drop-shadow(0 0 0.5px #31489f);
} 


.sec2 .container .contentrec .rec3 .garage-band{
    color: #060607;
    display: flex;
    flex-direction: row;
    margin-top: 28px;
    margin-left: 40px;
    width: 100%;
    position: relative;
} 

.sec2 .container .contentrec .rec3 .garage-band img{
  margin-right: 20px;

} 
.sec2 .container .contentrec .rec3 .garage-band h2::before {
    color: #31489f;
    content: "Excellente maitrise";
    position: absolute;
    left: 63px;
    bottom: -5px;
    font-size:15px ;
}



.sec2 .container .contentrec .rec3 .logic{
    color: #060607;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 40px;
    width: 100%;
    position: relative;

} 

.sec2 .container .contentrec .rec3 .logic img{
  margin-right: 20px;

} 
.sec2 .container .contentrec .rec3 .logic h2::before {
    color: #31489f;
    content: "Excellente maitrise";
    position: absolute;
    left: 63px;
    bottom: -5px;
    font-size:15px ;
}

/* Webdesign */

.sec2 .container .contentrec .rec4 h1{
    font-size: 30px;
    margin-top: 10px;
    color: #060607;
    filter: drop-shadow(0 0 0.5px #31489f);
} 


.sec2 .container .contentrec .rec4 .canva{
    color: #060607;
    display: flex;
    flex-direction: row;
    margin-top: 55px;
    margin-left: 40px;
    width: 100%;
    position: relative;
} 

.sec2 .container .contentrec .rec4 .canva img{
  margin-right: 20px;

} 

.sec2 .container .contentrec .rec4 .canva h2::before {
    color: #31489f;
    content: "Excellente maitrise";
    position: absolute;
    left: 77px;
   
    bottom: 11px;
    font-size:15px ;
}

/* programation */

.sec2 .container .contentrec .rec5 h1{
    font-size: 30px;
    margin-top: 10px;
    color: #060607;
    filter: drop-shadow(0 0 0.5px #31489f);
} 


.sec2 .container .contentrec .rec5 .VS-code{
    color: #060607;
    display: flex;
    flex-direction: row;
    margin-top: 55px;
    padding-left: 40px;
    width: 100%;
    position: relative;
} 


.sec2 .container .contentrec .rec5 .VS-code h2::before {
    color: #31489f;
    content: "Bonne maitrise";
    position: absolute;
    left: 117px;
    bottom: 16px;
    font-size:15px ;
}

/* content Explication */

.sec2 .container .contentex {

    width: 100%;
    padding-top: 50px;
    height: 300px;
    display: flex;
    flex-direction: row;
   justify-content: center;
    margin: 0 auto;
    position: relative;
    margin: 0 60px 0 60px;
}

.sec2 .container .contentex .ex1 {

    width: 900px;
    filter: drop-shadow(2px 1px 3px white);
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: rgb(226, 223, 223);
    border-radius: 55px;
    border: 2px solid black;
}

.sec2 .container .h11{

color: whitesmoke;
font-size: 3em;
font-family: futur;
margin-top: 50px;

}

.sec2 .container .h11:hover{
        font-size: 3.4em;
        transition: 0.4s;
    
    }

.sec2 .container .contentex .ex1 p{
    width: 840px;
    text-align: center;
    line-break: strict;
   
    line-height: 30px;
    font-size: 1.5em;
    font-weight: bold;
    word-spacing: 2px;
    margin: 0 auto;
    margin-top: 20px;
}

@media (max-width: 1285px)
{

   
    .sec2 .container .contentrec{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        max-height: 1500px;
        margin: 0px 40px 0 40px;
    }
    .sec2 .container .contentex {

       display: none;
    }
       .sec2 .container .h11{
    display: none;
        
        }

        .sec2 .container .contentrec .rec1{
            border-top-left-radius: 80px ;
            border-top-right-radius: 80px ;
            border-bottom-left-radius: 0 ;
            margin-left: 0;
        
        }
        .sec2 .container .contentrec .rec5{
          
            border-top-right-radius: 0 ;
            border-bottom-right-radius: 80px ;
            border-bottom-left-radius: 80px ;
            margin-right: 0;
        }

        
.sec2 .h1{

    font-size: 3em;
    margin:50px 150px 50px 0;
    font-family: futur;
    color: white;
    position:relative;
    right: 220px;
    top: 120px;
}

.sec2 .container .title h1:hover{
    font-size: 4em;
    transition: 0.4s;
}

.sec2 .container .title .separateur{
    width: 200px;
    height: 4px;

    margin-top: 40px;
    border-radius: 50px;
    background: linear-gradient(to right, #E1752E);
}
    }

    @media(max-width: 850px){
        .sec2 .h1{

            font-size: 2.5em;
            margin:50px 150px 50px 0;
            font-family: futur;
            color: white;
            position:relative;
            right: 200px;
            top: 120px;
        }

        .sec2 .container .title h1{
            font-size: 4em;
            color: white;
            text-transform: uppercase;
            font-family: futur;
        }

        .sec2{
            padding-top: 0px;
        }
    }
    
  
    @media(max-width: 780px){
        .sec2 .h1{

            font-size: 2em;
            margin:50px 150px 50px 0;
            font-family: futur;
            color: white;
            position:relative;
            right: 170px;
            top: 120px;
        }

        .sec2 .container .title h1{
            font-size: 3em;
            color: white;
            text-transform: uppercase;
            font-family: futur;
        }
    }

    @media(max-width: 680px){
        .sec2 .h1{

            font-size: 1.5em;
            margin:30px 150px 50px 0;
            font-family: futur;
            color: white;
            position:relative;
            right: 170px;
            top: 120px;
        }

        .sec2 .container .title h1{
            font-size: 3em;
            color: white;
            text-transform: uppercase;
            font-family: futur;
        }
    }
        /* Séparateur 3*/

        .separateur3{
            width: 90%;
            transform: translateX(5%);
            position: absolute;
            z-index: 209;
            height: 1px;
            background-color: white;
            /* filter: drop-shadow(1px 1px 3px white); */
        }

        /* sec3 */

        .sec3{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            background-color: #060606;
            padding-top: 100px;
            z-index: 1;
            padding-bottom: 70px;
        }

        .sec3 .title{
            align-items: center;
            width: 100%;
            font-family: futur;
            display: flex;
            flex-direction: column;
            
        }

        

        .sec3 .title h1{
            color: white;
            font-size: 6em;
            filter: drop-shadow(1px 1px 1px white );
        }

        .sec3 .container{
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            position: relative;
        }

        .sec3 .container .contenttop{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 auto;
            gap: 60px;
            margin-top: 250px;
            
        }

        .sec3 .container .contenttop .imageprojet{
           width: 600px;
           max-height: 300px;
           margin-left: 100px;
            filter: drop-shadow(1px 1px 3px white);
            position: relative;
        }

        .sec3 .container .contenttop .imageprojet::before{
        content: "One page :";
        font-size: 4em;
        color: white;
        position: absolute;
        top: -120px;
        filter:none;
        left: 0;
         }

        .sec3 .container .contenttop .imageprojet img{
            /* border: 2px solid white; */
            border-radius: 30px;
            transition: 0.5s;
            width: 100%;
            object-fit: cover;
         }

         .sec3 .container .contenttop .imageprojet img:hover{
            border: 2px solid white;
            border-radius: 70px;
            transition: 1s;
            height: 110%;
         }
        .sec3 .container .contenttop .cadre{
            width: 700px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            color: white;
        }

        .sec3 .container .contenttop .cadre h1{
            font-size: 2.5em;
            font-family: futur;
        }

        .sec3 .container .contenttop .cadre h2{
            font-size: 2.2em;
            margin-top: 10px;
            font-family: futur;
        }

        .sec3 .container .contenttop .cadre h3{
            font-size: 1.9em;
            margin-top: 10px;
            font-family: futur;
        }

        .sec3 .container .contenttop .cadre p{
            margin:10px 0 10px 0;
            line-break: strict;
            width: 550px;
            font-size: 1.1em;
        }
        

        @media (max-width: 1150px)
        {
            .sec3 .container .contenttop{
              flex-direction: column;
              align-items: center; 
              margin-left:0 ;
            }

            .sec3 .container .contenttop .cadre{
                text-align: center;
                align-items: center; 
                justify-content: center;
                margin-left:0 ;
               
              }
              

            
            .sec3 .container .contenttop .imageprojet{
               
                margin-left: 0px;
              
             }
        }

        
        /* chifoumi */

        .sec4{
            width: 100%;
            height: 100%;
            background-color: #060606;
            display: flex;
            flex-direction: column;
            position: relative;
        }


        .sec4 .container{
            width: 100%;
            display: flex;
            position: relative;
            z-index: 1001;
            flex-direction: column;
            align-items: center;
        }



        .sec4 .container .title {
            margin-top: 100px;
            align-items: center;

        }

        .sec4 .title h1{
            font-size: 5em;
            color: white;
            font-family: futur;
        }
        
        .sec4 .container button {
            border: 2px solid black;
            background-color: #f3f0f0;
            padding: 50px 120px 50px 120px;
            font-weight: bold;
            font-size: 3em;
            border-radius: 60px;
            margin-top: 80px;
            margin-bottom: 10%;
            position: relative;
        }

        .sec4 .container button::before {
           content: "( Ouvrir dans le navigateur )";
           font-size: 0.4em;
           color: white;
            position: absolute;
            bottom: -25%;
            left: 13%;
            filter: none;
        }

        .sec4 .container button:hover {
            border: 2px solid rgb(250, 246, 246);
            background-color: black;
            filter: drop-shadow(2px 2px 2px white);
            padding: 50px  120px 50px 120px;
            font-weight: bold;
            font-size: 3em;
            border-radius: 60px;
            color: white;
            margin-top: 80px;
        }
        /*  Separateur */
        .separateur5 {
            width: 90%;
            align-items: center;
            height: 1px;
            align-self: center;
            transform: translateX(5%);
            position: absolute;
            z-index: 43939;
            background-color: rgb(211, 207, 207);

        }
        /* sec 5 */

        .sec5{
            position: relative;
            display: flex;
            width: 100%;
            height: 100%;
            padding-top: 50px;
            background-color: #060606;
        }

        .sec5 .container{
            position: relative;
            display: flex;
            width: 100%;
            flex-direction: column;
            margin: 0 auto;
        }

        .sec5 .container .title{
            width: 99%;
            height: 13%;
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }

        .sec5 .container .title h1{
            width: 90%;
            text-align: center;
           font-size: 3em;
          color: white;
            font-family: futur;
        }

        /* .sec5 .container .title .separateur{
            width:30%;
            height: 2px;
            background-color: #E1752E;
            margin: 20px 0 0 0;
        } */

        .sec5 .container .contact{
            width:99%;
            align-items: center;
        }

        .sec5 .container .contact{
            width:99%;
            align-items: center;
        }

        .sec5 .container .contact ul{
            display: flex;
            max-width: 100%;
            flex-direction: column;
            align-items: center;
            margin-top: 15px;
            gap: 10px;
        }

        .sec5 .container .contact ul li{
           color: white;;
           font-size: 1em;
        
        }

        .sec5 .container .contact ul li img{
            vertical-align: middle;
            margin-right: 10px;
         }

        /* puce */

        .onglet-side {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: fixed;
            z-index: 999;
           }
        
           .onglet-side a{
        
            width: 12px;
            height: 12px;
            border-radius: 50px;
            background-color: white;
            border: 3px solid  #E1752E;
            margin: 7px 0;
            margin-left: 20px;
            z-index: 999;
           }
        
           .onglet-side a.active{
        
            background-color: #E1752E;
           }
        
           @media only screen and (max-width: 1200px){
            .onglet-side{
                display: none;
            }
           }

           /* mobile */
           @media screen and (max-width: 700px){
            .header1 .container ul a{
                font-size: 2.1em;
                 /* gap: 10px; */
                color: white;
             
                 }

            .sec1{
                height: 670px;
            }

            .sec1 .left h1 {
                font-size: 4em;
            }
            .sec1 .left h1:hover {
                font-size: 4em;
            }
            /* .sec1 .left p::before {
                font-size: 0;
                display: none;
                content: none;
                }
            
        .sec1 .left p:hover::before {
            display: none;
            scale:0;
            transform: translate(100%);
            content: none;
            } */
            /* .sec1 .left p:hover {
                overflow: hidden;
        
            } */
            .fa-brands:before, .fa-regular:before, .fa-solid:before, .fa:before, .fab:before, .far:before, .fas:before {
                content: none;
            }

           .sec2{
            height: 100%;
            position: relative;
           }

           .sec2 .h1{
           display: none;
           }

           .sec2 .container .title h1 {
            font-size: 1.8em;
            color: white;
            text-transform: uppercase;
            font-family: futur;
        }

           .sec2 .container .contentrec {
            margin: 60px 0 0 0;
        }
        .sec3 {
            height: 100%;
            position: relative;
            padding-top: 50px;
            padding-bottom: 0;
        }
        .sec3 .container .contenttop .cadre{
            width: 100%;
           }
        .sec3 .title h1 {
            font-size: 3em;

        }
        
        .sec3 .container .contenttop .imageprojet {
           width: 90%;
        }

        .sec3 .container .contenttop .imageprojet a img{
           height: 250px;
         }
        .sec3 .container .contenttop .imageprojet::before {
           display: none;
        }

        .sec3 .container .contenttop .cadre p {
            margin: 10px 0 10px 0;
            line-break: strict;
            width: 85%;
            font-size: 1em;
        }       
        .sec3 .container .contenttop {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0 auto;
            gap: 90px;
            margin-top: 80px;
            margin-bottom: 60px;
        }
        .sec3 .container .contenttop .cadre{
          gap: 10px;
    
        }
         .sec3 .container .contenttop .cadre h1 {
            font-size: 2em;
            font-family: futur;
        }

        .sec3 .container .contenttop .cadre h2 {
            font-size: 1.8em;
            font-family: futur;
        }
        .sec3 .container .contenttop .cadre h3 {
            font-size: 1.6em;
            font-family: futur;
        }
        .sec4{
            padding-bottom: 20px;
            height: 100%;
        }
        .sec4 .container .title {

            font-family: futur;
            margin-top: 50px;
        }
        .sec4 .container .title h1 {

           font-size: 3.8em;
        }
        .sec4 .container button {
            border: 2px solid black;
            background-color: #f3f0f0;
            padding: 50px 100px 50px 100px;
            font-weight: bold;
            font-size: 3em;
            border-radius: 60px;
            margin-top: 40px;
            margin-bottom: 20%;
        }
        .sec5 .container .contact ul{
            
            margin-top: 35px;
            
        }
        /* .sec5 {
            height: 50vh;
        } */

     }
     @media screen and (min-width:200px) and (max-width: 350px){

        .sec5{
            height: 55vh;
        }
        .sec5 .container .contact ul{
            
            margin-top: 35px;
            
        }
    }


     @media screen and (min-width:400px) and(max-width: 430px){

        .sec5{
            height: 47vh;
        }
    }

    @media screen and (min-width:350px) and (max-width: 400px){

        .sec5{
            height: 40vh;
        }
    }

    @media screen and (min-width:450px) and (max-width: 699px){

        .sec5{
            height: 40vh;
        }
        .sec5 .container .contact ul{
            
            margin-top: 35px;
            
        }
    }

        @media screen and (min-width:700px) and (max-width: 849px){
            .sec4 {
                height: 75vh;
            } 
            .sec4 .container button{
                margin-bottom: 0;
            }

            .sec5{
                height: 40vh;
            }
            .sec5 .container .contact ul{
            
                margin-top: 35px;
                
            }
        }

        @media screen and (min-width:850px) and (max-width: 900px){

            .sec5{
                height: 65vh;
            }
        }

        @media (min-width:900px) and (max-width: 1024px){
            .sec4 {
                height: 75vh;
            } 
            .sec4 .container button{
                margin-bottom: 0;
            }

            .sec5{
                height: 40vh;
            }
            .sec5 .container .contact ul{
            
                margin-top: 35px;
                
            }
        }
           

        
        @media (min-width:1024px) and (max-width: 1100px){
            .sec4 {
                height: 75vh;
            } 
            .sec4 .container button{
                margin-bottom: 0;
            }

            .sec5{
                height: 42vh;
            }
            .sec5 .container .contact ul{
            
                margin-top: 35px;
                
            }
        }

        @media (min-width:1100px) and (max-width: 1280px){
            .sec4 {
                height: 70vh;
            } 
            .sec4 .container button{
                margin-bottom: 0;
            }

            .sec5{
                height: 40vh;
            }
            .sec5 .container .contact ul{
            
                margin-top: 35px;
                
            }
        }

        @media (min-width: 1280px){
            .sec5 .container .title{
               margin-bottom: 30px;
            }

            .sec5{
                height: 45vh;
            }

        }
